// Colors
$lightblue: #b3f5ff;
$blue: #6fe9ff;
$darkblue: #2A2859;
$lightgreen: #c7f6c9;
$green: #42f8b6;
$darkgreen: #034b45;
$darkbeige: #d0bfae;
$lightbeige: #f8f0dd;
$yellow: #f9c66b;
$red: #ff8274;
$darkred: #af0000;
$grey: #f2f2f2;

$grey-50: #f7f7f7;
$grey-100: #e1e1e6;
$grey-200: #c6c6cc;
$grey-300: #adadb3;
$grey-400: #939399;
$grey-500: #797980;
$grey-600: #666666;
$grey-700: #43434d;
$grey-800: #242433;
$grey-900: #0e0e1a;

$transparent-grey-1: rgba(0, 0, 0, 0.3);

// Theme
$font-color: #2c2c2c;
$background-secondary: #f2f2f2;
$link-color: #0075eb;

$container-width: 1340px;
$footer-top-margin: 4em;
$header-height: 90px;

$inputHeight: 50px;
$standardTopbarBottomMargin: 4em;

// Screen sizes
$large-screen: 1088px;
$small-screen: 820px;
$mobile-screen: 430px;

// Borders
$separator-border: 1px solid $grey-200;
$focus-border-width: 2px;

$minimum-click-area-size: 44px;

// Fonts
$font-family: 'Oslo Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, sans-serif;
$font-family-code: 'Source Code Pro', monospace;

$font-size-ingress: 1.56rem;
$font-size-bread: 1.25rem;
$font-size-large: 18px;
$font-size-small: 18px;
$font-size-x-small: 16px;
$font-size-xx-small: 14px;
