*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  height: 100%;
  font-family: $font-family;
  word-spacing: 1px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  // Stop scrollbar from making the page jump to the side as scrollbar is enabled/disabled
  width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  background: #ffffff;
  box-sizing: border-box;
  color: $font-color;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
}

// Text
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  line-height: normal;
  margin-bottom: 0.5em;
}

h1 {
  font-size: $font-size-xxl;
}

h2 {
  font-size: $font-size-xl;
}

h3 {
  font-size: $font-size-lg;
}

h4 {
  font-size: $font-size-md;
}

h5 {
  font-size: $font-size-sm;
}

small,
.small-text {
  font-size: $font-size-xs;
}

.intro-text {
  font-size: $font-size-ingress;
  margin-bottom: $space;
}

[aria-disabled=true],
[disabled] {
  cursor: not-allowed;
}

// The following two classes controls content width and gutters/margins.
// The first is wider than the second, and is used to align content with the header-content width
.centered-container {
  max-width: $container-width;
  width: calc(100% - 4rem);
  margin: 0 auto;
}

.centered-small-container {
  max-width: $small-screen;
  width: calc(100% - 4rem);
  margin: 0 auto;
}

.full-height {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - #{$page-padding} * 2);
}
