*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  height: 100%;
  font-family: $font-family;
  word-spacing: 1px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  // Stop scrollbar from making the page jump to the side as scrollbar is enabled/disabled
  width: 100vw;
  overflow-x: hidden;
}

body {
  padding: $page-padding;
  min-height: 100%;
  background: #ffffff;
  color: $font-color;
  line-height: 1.5;
  font-weight: 300;
}
// Text
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.3em;
  font-weight: normal;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

// The following two classes controls content width and gutters/margins.
// The first is wider than the second, and is used to align content with the header-content width
.centered-container {
  max-width: $container-width;
  width: calc(100% - 4rem);
  margin: 0 auto;
}

.centered-small-container {
  max-width: $small-screen;
  width: calc(100% - 4rem);
  margin: 0 auto;
}

.full-height {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.page {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - #{$page-padding} * 2);
}
