// "ok-" = Oslo kommune
// Some values are copied from the Oslo kommune style guide:
// https://styleguide.oslo.kommune.no

// Colors
$ok-blue: #6fe9ff;
$ok-blue-light: #b3f5ff;
$ok-blue-dark: #1f42aa;
$ok-purple: #8d50b1;
$ok-purple-light: #e0adff;
$ok-green: #43f8b6;
$ok-green-dark: #034b45;
$ok-green-light: #4e807c;
$ok-beige: #f8f0dd;
$ok-beige-dark: #d0bfae;
$ok-yellow: #f9c66b;
$ok-red: #ff8274;
$ok-grey: #f2f2f2;
$ok-grey-light: #b3f5ff;
$ok-black: #2c2c2c;

$grey: #f2f2f2;
$grey-50: #f7f7f7;
$grey-100: #e1e1e6;
$grey-200: #c6c6cc;
$grey-300: #adadb3;
$grey-400: #939399;
$grey-500: #797980;
$grey-600: #666666;
$grey-700: #43434d;
$grey-800: #242433;
$grey-900: #0e0e1a;

$transparent-grey-1: rgba(0, 0, 0, 0.3);

// Colors: states
$ok-state-muted-text: #333;
$ok-state-muted-bg: #e6e6e6;
$ok-state-info-text: $ok-green-dark;
$ok-state-info-bg: $ok-grey-light;
$ok-state-success-text: $ok-green-dark;
$ok-state-success-bg: $ok-green-light;
$ok-state-warning-text: $ok-green-dark;
$ok-state-warning-bg: $ok-yellow;
$ok-state-danger-text: $ok-green-dark;
$ok-state-danger-bg: $ok-red;

// Theme
$font-color: $ok-black;
$background-secondary: $ok-grey;
$link-color: #0075eb;

$container-width: 1340px;
$footer-top-margin: 4em;
$header-height: 90px;

$inputHeight: 50px;
$standardTopbarBottomMargin: 4em;
$page-padding: 8px;

// Screen sizes
$large-screen: 1088px;
$small-screen: 820px;
$mobile-screen: 430px;

// Borders
$separator-border: 1px solid $grey-200;
$focus-border-width: 2px;

$minimum-click-area-size: 44px;

// Fonts
$font-family: 'Oslo Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, sans-serif;
$font-family-code: 'Source Code Pro', monospace;

$font-size-xxl: 3.25rem;
$font-size-xl: 2rem;
$font-size-lg: 1.5rem;
$font-size-md: 1.25rem;
$font-size-sm: 0.9rem;
$font-size-xs: 0.75rem;

$font-size-ingress: $font-size-lg;
$font-size-bread: $font-size-sm;

// Spacing
$space: 1rem;
$space-xxl: $space * 5;
$space-xl: $space * 3;
$space-lg: $space * 1.5;
$space-md: $space;
$space-sm: $space / 2;
$space-xs: $space / 4;
